/* Author: Thomas Seres */
/**************************** DESIGN ****************************/
.no-rounded-corners{-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}
.no-text-shadow{text-shadow:0 0 0 transparent;}
.rounded-corners{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.rounded-corners-big{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.box-shadow{-moz-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 5px;-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 5px;box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 5px;}
.no-background {background-color:transparent;background-image:none;}

/**************************** OPACITY ****************************/
.opacity-1{-moz-opacity:.10;filter:alpha(opacity=10);opacity:.10;}
.opacity-2{-moz-opacity:.20;filter:alpha(opacity=20);opacity:.20;}
.opacity-3{-moz-opacity:.30;filter:alpha(opacity=30);opacity:.30;}
.opacity-4{-moz-opacity:.40;filter:alpha(opacity=40);opacity:.40;}
.opacity-5{-moz-opacity:.50;filter:alpha(opacity=50);opacity:.50;}
.opacity-6{-moz-opacity:.60;filter:alpha(opacity=60);opacity:.60;}
.opacity-7{-moz-opacity:.70;filter:alpha(opacity=70);opacity:.70;}
.opacity-8{-moz-opacity:.80;filter:alpha(opacity=80);opacity:.80;}
.opacity-9{-moz-opacity:.90;filter:alpha(opacity=90);opacity:.90;}


/**************************** INPUTS ****************************/ 
input {
	padding: 2px;
	border: 1px solid #777;	
	background-color: #FCFCFC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;		
	outline: none;
}

input:hover {
	border: 1px solid #000;
	outline: none;
}

input:focus{
	border: 1px solid #000;
	outline: none;
}


/**************************** PADDINGS ****************************/ 
.no-padding{padding:0;}


/**************************** MARGINS ****************************/
.no-margin, .ui-content .ui-listview.no-margin {margin:0;}
.margin-auto, .list-fullscreen .ui-li-thumb.margin-auto {margin:auto;}


/**************************** WIDTH ****************************/
.width-auto {width: auto; }


/**************************** CURSORS ****************************/
.cursor-default{cursor:default;}
.cursor-pointer{cursor:pointer;}
.cursor-move{cursor:move;}
.cursor-help{cursor:pointer;}
.cursor-not-allowed{cursor:not-allowed;}


/**************************** TEXT FORMAT ****************************/
.text-italic {font-style: italic;}


/**************************** WRAP ****************************/
.white-space-nowrap, .no-wrap{white-space:nowrap;}
.white-space-normal {white-space:normal;}


/**************************** TEXT ALIGN ****************************/
.align-left{text-align:left;}
.align-right{text-align:right;}
.align-center{text-align:center;}
.align-justify{text-align:justify:}


/**************************** VERTICAL ALIGN ****************************/
.v-align-top{vertical-align:top;}
.v-align-middle{vertical-align:middle;}
.v-align-bottom{vertical-align:bottom;}


/**************************** DISPLAY ****************************/
.no-display, .do-not-display, .display-none{display:none;}
.block{display:block;}
.inline{display:inline;}
.inline-block {display:inline-block;}


/**************************** FLOAT ****************************/
.float-none{float:none;}
.float-left{float:left;}
.float-right{float:right;}


/**************************** CLEAR ****************************/
.clear-both{clear:both;}


/**************************** OVERFLOW ****************************/
.overflow-auto{overflow:auto;}
.overflow-scroll{overflow:scroll;}
.overflow-hidden{overflow:hidden;}
.overflow-x-hidden{overflow-x:hidden;}
.overflow-y-hidden{overflow-y:hidden;}
.overflow-x-scroll{overflow-x:scroll;}
.overflow-y-scroll{overflow-y:scroll;}


/**************************** POSITION ****************************/
.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed;}


/**************************** TEXT DECORATION ****************************/
.decoration-none, .no-decoration{text-decoration:none;}
.decoration-underline{text-decoration:underline;}
.decoration-overline{text-decoration:overline;}


/**************************** COMPULSORY ****************************/
.required, .compulsory{color:#ff6666;font-weight:900;padding-left:3px;}


/**************************** GRADIENTS ****************************/
.gradient-black {
	color: #FCFCFC;
	border: 0;
	border-top: 1px solid #333333;	
	background: #333333;
	background: -moz-linear-gradient(-90deg,  #666 0%,  #000 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}

.gradient-gray {
	color: #2A2A2A;
	border: 0;
	border-top: 1px solid #FCFCFC;
	background: #D9D9DB;
	background: -moz-linear-gradient(-90deg, #D9D9DB 0%, #B4B4B8 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#D9D9DB), to(#B4B4B8));
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9D9DB', endColorstr='#B4B4B8');
}


/**************************** PICTURE FRAME ****************************/
.picture-frame {
	position: relative;
	display: inline-block;
	   
	border: 4px solid #FCFCFC;
    
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: rgba(0, 0, 0, 0.9) 1px 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.9) 1px 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.9) 1px 1px 3px;
}



/**************************** BOXES ****************************/
.box-white {  
  
  padding: 5px 0;
  
  border: 1px solid #DDD;
  
  background:#FFFFFF;
  background:-moz-linear-gradient(-90deg, #fff 0%, #e5eaee 100%);
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e5eaee));
  
  box-shadow:0 1px 2px #bdc9d5;
  -webkit-box-shadow:0 1px 2px #bdc9d5;
  -moz-box-shadow:0 1px 2px #bdc9d5;
  
	text-align:center;
	text-shadow:0 1px 0 #fff;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/**************************** 0o0o0 rock'n roll BUBBLES 0o0o0 ****************************/

/* bubble container */
.bubble {
	position:relative;
	z-index: 8;
	
	width:220px;
	min-height:36px;
	
	padding: 8px 15px;    
	border: 1px solid rgba(0,0,0,0.25);
	
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;

	-moz-box-shadow: inset 0px 0px 2px rgba(0,0,0,0.2), 0px 1px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	/*	wait for inset issue correction on webkit -webkit-box-shadow: inset 0px 0px 2px rgba(0,0,0,0.2), 0px 1px 2px rgba(0,0,0,0.2); */
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.2), 0px 1px 2px rgba(0,0,0,0.2);
    
	text-shadow: 1px 1px rgba(255,255,255,0.3);
}

/* date */
.bubble .date {
	display: block;
	font-size: 10px;
	margin: 5px 0 0 0;
	font-style: italic;
	color: rgba(0,0,0, 0.3);
}

/* gloss effect on the top of the bubble */
.bubble:before {
	content: '';
    
	position: absolute;
	top: 1px;
	left: 4px;	
	z-index: -5;
        
	
	width: inherit;
	height: 14px;
	
	padding: 0 10px 0 11px;
   
	-moz-border-radius: 10px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius: 10px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	background:-moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.2) 100%);
	background:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255, 0.7)),to(rgba(255,255,255, 0.2)));
}

/* arrow container */
.bubble:after {
	content: '';

	position: absolute;
	height: 13px;
	width: 13px;

	border-left: 1px solid rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);	
}

/* arrows position */
.bubble.left {
	float: left;
	margin: 0px 0px 12px 12px;
}

.bubble.left:after {
    left:-8px;
    bottom:20px;   
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}

.bubble.right {
	float: right;
   margin: 0px 12px 12px 0px;
}

.bubble.right:after {
    right:-8px;
    bottom:20px;
    -moz-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
}

/* bubbles color */
.bubble.white,
.bubble.white:after {
    background:#DDDDDD;
}

.bubble.green,
.bubble.green:after {
    background:#9ADB5C;
}

.bubble.blue,
.bubble.blue:after {
    background:#75BAEB;
}

.bubble.slate,
.bubble.slate:after {
    background:#BECFCD;
}

.bubble.gray,
.bubble.gray:after {
    background:#DDDDDD;
}

.bubble.orange,
.bubble.orange:after {
    background:#FC9E51;
}

.bubble.yellow,
.bubble.yellow:after {
    background:#FDE288;
}

.bubble.pink,
.bubble.pink:after {
    background:#FB89DF;
}


/******************************** TEXT COLOR FORMAT **************************************/
.text-success {
	color: #0A6D0A;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 2px;
}

.text-error {
	color: #BA1616;
	text-shadow: rgba(255, 255, 255, 0.496094) 0px 0px 2px;
}


/******************************** BUTTONS **************************************/
.button,
input.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover,
input.button:hover {
	text-decoration: none;
}
.button:active,
input.button:active {
	position: relative;
	top: 1px;
}
 
.button.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.button.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.button.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}
 

/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
 
/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
 
/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
 
/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
 
/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}
 
/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
 
/* rosy */
.rosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
	color: #dca4ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}
 
/* green */
.green,
input.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover,
input.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active,
input.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
 
/* pink */
.pink {
	color: #feeef5;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.pink:active {
	color: #f3c3d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
	background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}